

#main{
    .section1{
        //background: #F2F2F2;
        background: url('../image/bg.jpg');
        background-position: center bottom; 
        .content{
            width: 100%;
            height: 500px;
            text-align: center;
            padding-top: 7%;
            .box{
                 max-width: 400px;
                margin: 0 auto;
                .color{
                    @include color(color);
                    font-weight: 600;
                }
                .input{
                    width: 76%;
                    height: 33px;
                    border-radius: 15px;
                    border: none;
                    box-shadow: 0px 0px 10px 5px lightgrey;
                    padding-left: 10px;
                    outline: none;
                }
               
                .button{
                    outline: none;
                    margin: 3% 0;
                    padding: 5px 15px;
                    border-radius: 15px;
                    border: none;
                    background: white;
                    box-shadow: 0px 0px 10px 5px lightgrey;
                    position: relative;
                    left: -30px;
                    cursor: pointer;
                    @include color(color);
                    font-weight: 600;
                }
            }
        }
    } // section1 >>>>>
  

    .section2{
        padding-top: 10%;
    
        .content{
            .box{
                text-align: center;
                max-width: 400px;
               margin: 0 auto;
               
               
           }
                                //600
           .slider{
               margin-top: 60px;
               @media only screen and (max-width: 600px) {
                .slick-prev{
                  
                    left: 0.5%;
                    z-index: 999;
                }
                .slick-next{
                  
                    right: 0.5%;
                    z-index: 999;
                }
               
            }
            .slick-arrow{
               
                background: white;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                z-index: 999;
                box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
                transition-duration: 0.5s;
              
                &:hover{
                    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
                    
                }
            }

            .slick-prev::before{
                content: '←';
                color: #00576b;
            }
            .slick-next::before{
                content: '→';
                color: #00576b;
            }
              
               .slide{
                   margin: 0 8px;
                   border: 2px solid lightgrey;
                   border-radius: 7px;
                   cursor: pointer;
                   .img-content{
                       img{
                           width: 100%;
                           height: 150px;
                       }
                   }
                   .info{
                       padding: 15px 15px;
                       .checked{
                        color: orange;
                        font-size: 12px;
                     
                       }
                       
                     


                       %flex-display { // users raitings 
                        display: flex;
                    }
                    .star-rating {
                        @extend %flex-display;
                        align-items: center;
                        font-size: 15px;
                        justify-content: flex-start;
                       
                    }
                    .back-stars {
                        @extend %flex-display;
                        color: lightgrey;
                        position: relative;
                        text-shadow: 1px 1px 3px #843a3a;
                    }
                    .front-stars {
                        @extend %flex-display;
                        color: #FFBC0B;
                        overflow: hidden;
                        position: absolute;
                      
                        top: 0;
                       
                    }// users raitings 
                     









                       
                       .level-rate{
                           margin-left: 4px;
                           font-size: 12px;
                          
                         
                         
                       }
                       .text{
                           font-size: 12px;
                           margin-top:5%;
                       }
                       .user-price{
                           margin-top: 45px;
                            display: flex;
                          
                           .left{
                               font-size: 14px;
                               padding-right: 10px;
                               width: 50%;
                               font-size: 16px;
                               font-weight: 600;
                           }
                           .right{
                            @include color(color);
                            width: 50%;
                            text-align: right;
                            font-size: 20px;
                            font-weight: 700;
                                
                           }
                       }
                   }
               }
           }
        }
    } // section2 >>>>>>
  




   .section3{
    padding-top: 10%;
       height: 500px;
       .content{
        .box{
            text-align: center;
            max-width: 400px;
           margin: 0 auto;
           
           
       }
       }
   }//section3



}//main
