

footer{
    .content{
      padding: 8% 0;
     
      background: #F8F3F0;
       .footer-items{
        
         .title{
           margin-bottom: 13px;
         }
        
         a{
           color: #322F33;
         }
       }
       .right-items{
         padding-left: 10%;

         .sosials{
           display: inline-flex;
           .sosial{
             margin-right: 4px;
             width: 33px;
             height: 33px;
             border-radius: 50%;
             text-align: center;
             line-height: 33px;
             color: white;
             cursor: pointer; 
           }
           .facebook{ background: #3B5998}
           .twitter{background: #1DA1F2}
           .pinterest{background: #BC1718}
           .instagram{background: #D93175}

           
         }
       }
       @media only screen and (max-width: 767px) {
          .footer-items,
          .right-items,
          .powered{
            text-align: center;
          }
          

    }
      .powered{
        width: 100%;
          margin-top: 5%;
          .site-name{
            color: #FF7F45;
            margin-right: 10px;
            cursor: pointer;
          }
          .start-time{
            font-size: 10px;
          }
      }
        
        
        
    }
    // content
}